################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/dbgw.pdb
/.vs/dbgw/v16
/bin/Release
/obj/Release
