################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dbgw.pb
/.vs
/bin
/obj
/_scratch
/.vs
/dbgw.pdb
